:root {
  font-family: 'Inter',system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  user-select: none;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  --box-color: linear-gradient(145deg, #222222, #555555);
  --bg-color: #e0e0e0;
  --text-color: #333;
  --gradient-text: linear-gradient(175deg, #212630, #535353);
  --btn-bg-color: #f0f0f0;
  /* --dark-shadow: #252733; */
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--bg-color);
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
  overflow: hidden;
  /* padding-top: env(safe-area-inset-top); */
  box-sizing: border-box;
}

h1 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-image: var(--gradient-text);

  font-size: 3.2em;
  line-height: 1.1;
  color: var(--dark-shadow);
}

ul {
  padding: 5px;
  list-style: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #14171D;
    --gradient-text: linear-gradient(175deg, #E4E7EC, #666768);
    --btn-bg-color: transparent;/* #1e2127; */
    --text-color: #E4E7EC;
    --box-color: linear-gradient(145deg, #1e2127, #3b3f47);

  }
}
